<div class="dashboard-home">
    <app-nav></app-nav>
    <div class="content">

        <section>
            <header>
                <div class="left">
                    <h1>Admin</h1>
                </div>
            </header>
            <article>
                <div class="elements">
                    <div class="element messages">
                        <div class="element__icon" [routerLink]="['/dashboard/messages']">
                            <fa-icon [icon]="faMessages"></fa-icon>
                        </div>
                        <div class="element__name">Messages</div>
                    </div>
                </div>
            </article>
        </section>

        <section>
            <header>
                <div class="left">
                    <h1>Projekty</h1>
                </div>
            </header>
            <article>
                <div class="elements">
                    <div class="element add">
                        <div class="element__icon" [routerLink]="['/dashboard/project']">
                            <fa-icon [icon]="faAdd"></fa-icon>
                        </div>
                        <div class="element__name">Dodaj</div>
                    </div>
                    <div class="element" *ngFor="let project of projects">
                        <div class="element__icon" [routerLink]="['/dashboard/project', {id: project.id}]">
                            <!-- <fa-icon [icon]="faAdd"></fa-icon> -->
                        </div>
                        <div class="element__name">{{ project.name }}</div>
                    </div>
                </div>
            </article>
        </section>

    </div>
</div>