<div class="dashboard-home">
    <app-nav></app-nav>
    <div class="content">

        <section>
            <div class="header">
                <h1>Projekty</h1>
            </div>
            <div class="body">
                <div class="elements">
                    <div class="element add">
                        <div class="element__icon" [routerLink]="['/dashboard/project']">
                            <fa-icon [icon]="faAdd"></fa-icon>
                        </div>
                        <div class="element__name">Dodaj</div>
                    </div>
                </div>
                <div class="elements" *ngFor="let project of projects">
                    <div class="element">
                        <div class="element__icon" [routerLink]="['/dashboard/project', {id: project.id}]">
                            <!-- <fa-icon [icon]="faAdd"></fa-icon> -->
                        </div>
                        <div class="element__name">{{ project.name }}</div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>