.elements {
    display: flex;
    flex-wrap: wrap;

    .element {
        margin: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__icon {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            background: grey;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            fa-icon {
                font-size: 36px;
                color: white;
            }
        }
        &__name {
            margin-top: 5px;
        }

        &.messages {

            .element__icon {
                background: linear-gradient(45deg, #3A7BD5 0%, #00D2FF 100% );
            }
        }

        &.add {

            .element__icon {
                background:linear-gradient(45deg, #02aab0 0%,#00cdac 100% );
            }
        }
    }
}