<main>
    <app-nav></app-nav>
    <!-- <app-nav [color]="'#f14948'"></app-nav> -->
    <div class="content">

        <section>
            <header>
                <div class="left">
                    <h1>{{ home.about.name }} </h1>
                    <h2>{{ home.about.title }}</h2>
                </div>
            </header>
            <article class="about">
                <p>{{ home.about.desc }}</p>
                <div class="about__lists">
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" d="M7.5 6.875a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM3.438 13.125v-1.25a2.5 2.5 0 012.5-2.5h3.125a2.5 2.5 0 012.5 2.5v1.25"/>
                                <path stroke="#333" d="M3.438 13.125h8.124"/>
                            </svg>
                            {{ home.about.data.name }}
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.75A1.875 1.875 0 107.5 5a1.875 1.875 0 000 3.75z"/>
                                <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" d="M11.036 10.41l-2.652 2.652a1.248 1.248 0 01-1.767 0l-2.653-2.651a5 5 0 117.072 0v0z"/>
                            </svg>
                            {{ home.about.data.location }}
                        </li>
                        <li [routerLink]="['/contact']">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" d="M11.875 3.125h-8.75c-.69 0-1.25.56-1.25 1.25v6.25c0 .69.56 1.25 1.25 1.25h8.75c.69 0 1.25-.56 1.25-1.25v-6.25c0-.69-.56-1.25-1.25-1.25z"/>
                                <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" d="M1.875 4.375L7.5 8.125l5.625-3.75"/>
                            </svg>
                            Contact
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" d="M6.875 4.375H3.75a1.25 1.25 0 00-1.25 1.25v5.625a1.25 1.25 0 001.25 1.25h5.625a1.25 1.25 0 001.25-1.25V8.125M6.25 8.75L12.5 2.5M9.375 2.5H12.5v3.125"/>
                            </svg>
                            <a href="{{ home.about.links.linkedin }}">Linkedin</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" d="M6.875 4.375H3.75a1.25 1.25 0 00-1.25 1.25v5.625a1.25 1.25 0 001.25 1.25h5.625a1.25 1.25 0 001.25-1.25V8.125M6.25 8.75L12.5 2.5M9.375 2.5H12.5v3.125"/>
                            </svg>
                            <a href="{{ home.about.links.github }}">GitHub</a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" viewBox="0 0 15 15">
                                <path stroke="#333" stroke-linecap="round" stroke-linejoin="round" d="M6.875 4.375H3.75a1.25 1.25 0 00-1.25 1.25v5.625a1.25 1.25 0 001.25 1.25h5.625a1.25 1.25 0 001.25-1.25V8.125M6.25 8.75L12.5 2.5M9.375 2.5H12.5v3.125"/>
                            </svg>
                            <a href="{{ home.about.links.dribbble }}">Dribbble</a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>

        <section>
            <header>
                <div class="left">
                    <h1>Skills</h1>
                </div>
            </header>
            <article>
                <app-swiper 
                    *ngIf="skills.length > 0" 
                    [mode]="'skills'" 
                    [elements]="skills" 
                    [element]="{ width: 208, position: 0 }"
                ></app-swiper>
            </article>
        </section>

        <section>
            <header>
                <div class="left">
                    <h1>Projects</h1>
                    <p>Last 5 projects I've done</p>
                </div>
                <div class="right">
                    <h3 [routerLink]="['/portfolio']">See more</h3>
                </div>
            </header>
            <article>
                <app-swiper 
                    *ngIf="projects.length > 0" 
                    [mode]="'projects'" 
                    [elements]="projects" 
                    [element]="{ width: 298, position: 0 }"
                ></app-swiper>
            </article>
        </section>

        <section>
            <header>
                <div class="left">
                    <h1>Education</h1>
                </div>
            </header>
            <article></article>
        </section>

    </div>
</main>