.about {
    display: flex;

    p {
        max-width: 400px;
        margin-right: 4rem;
    }

    &__lists {
        display: flex;

        ul {
            margin-right: 4rem;
            list-style: none;
    
            li {
                margin-bottom: .6rem;
                display: flex;
                align-items: center;
    
                svg {
                    margin-right: 1rem;
                }
    
                a {
                    text-decoration: none;
                    color: var(--font);
    
                    &:hover {
                        // color: var(--accent);
                        text-decoration: underline;
                    }
                }
            }

            &:nth-last-child(1) {
                margin: 0;
            }
        }
    }
}

.skills {
    margin-bottom: -1rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style: none;
    max-height: 200px;

    li {
        width: 155px;
        margin: 0 2rem 1rem 0;
        display: flex;
        align-items: center;

        .skills__icon {
            width: 40px;
            height: 40px;
            margin-right: 1rem;
            background: grey;
            border-radius: 5px;
        }

        p {
            color: var(--grey);
        }
    }
}

@media (max-width: 1000px) {
    .about {
        flex-direction: column;

        p {
            max-width: 100%;
            margin: 0;
        }

        &__lists {
            margin-top: 2rem;
        }
    }
    .skills {
        max-height: 400px;
    }
}