<div class="portfolio">
    <app-nav></app-nav>
    <div class="content">

        <section>
            <header>
                <div class="left">
                    <h1>Projekty</h1>
                </div>
            </header>
            <article>
                <app-swiper 
                    *ngIf="projects.length > 0" 
                    [mode]="'projects'" 
                    [elements]="projects" 
                    [element]="{ width: 274, position: 0 }"
                ></app-swiper>
            </article>
        </section>

        <section>
            <header>
                <div class="left">
                    <h1>Notatki</h1>
                </div>
            </header>
            <article>
                <div class="alert blue">Nothing to see here yet</div>
            </article>
        </section>

    </div>
</div>