.dashboard-project {
    height: 100%;

    .content {
        padding: 40px;
    }
}

@media (max-width: 1000px) {
    .dashboard-project {
    
        .content {
            padding: 80px 20px;
        }
    }
}