.login {
    height: 100%;
    // background: #fafbfd;

    .content {
        padding: 40px;
    }
}

@media (max-width: 1000px) {
    .login {
    
        .content {
            padding: 20px;
        }
    }
}