<div class="project">
    <app-nav></app-nav>
    <div class="content">

        <section class="project" *ngIf="project">
            <header>
                <div class="left">
                    <h2>{{ project.category }}</h2>
                    <h1>{{ project.name }}</h1>
                    <ul>
                        <li><a [href]="project.repo" target="_blank">Github</a></li>
                        <li><a [href]="project.www" target="_blank">Demo</a></li>
                    </ul>
                </div>
                <div class="right">
                    <h3 [title]="project.date.toDate() | date: 'd/M/yyy'">{{ project.date.toDate() | dateAgo }}</h3>
                </div>
            </header>
            <article>
                <p>{{ project.desc }}</p>
                <div class="project__tags">
                    <span *ngFor="let tag of tags"> {{ tag }} </span>
                </div>
            </article>
        </section>

        <section>
            <header>
                <div class="left">
                    <h1>Images</h1>
                </div>
            </header>
            <article></article>
        </section>

        <!-- <section>
            <div class="projekt" *ngIf="project">
                <div class="projekt__preview" [ngStyle]="{ 'background': 'url(' + project.preview + ') no-repeat center center'}"></div>
                <div class="projekt__info">
                    <div>
                        <div class="projekt__info__title">
                            <div>
                                <h2>{{ project.category }}</h2>
                                <h1>{{ project.name }}</h1>
                                <h3>{{ project.date.toDate() | dateAgo }}</h3>
                            </div>
                            <div class="projekt__info__title__links">
                                <a href="project.repo"></a>
                                <a href="project.www"></a>
                            </div>
                        </div>
                        <div class="projekt__info__desc">
                            <p>{{ project.desc }}</p>
                        </div>
                    </div>
                    <div class="projekt__info__tags">
                        <span *ngFor="let tag of tags"> {{ tag }} </span>
                    </div>
                </div>
            </div>
        </section>

        <section *ngIf="images">
            <app-gallery [items]="images"></app-gallery>
        </section> -->

    </div>
</div>