<div class="project">
    <app-nav [color]="'#f14948'"></app-nav>
    <div class="content">

        <section>
            <div class="projekt" *ngIf="project">
                <div class="projekt__preview" [ngStyle]="{ 'background': 'url(' + project.preview + ') no-repeat center center'}"></div>
                <div class="projekt__info">
                    <div>
                        <div class="projekt__info__title">
                            <div>
                                <h2>{{ project.category }}</h2>
                                <h1>{{ project.name }}</h1>
                                <h3>{{ project.date.toDate() | dateAgo }}</h3>
                            </div>
                            <div class="projekt__info__title__links">
                                <a href="project.repo"></a>
                                <a href="project.www"></a>
                            </div>
                        </div>
                        <div class="projekt__info__desc">
                            <p>{{ project.desc }}</p>
                        </div>
                    </div>
                    <div class="projekt__info__tags">
                        <span *ngFor="let tag of tags"> {{ tag }} </span>
                    </div>
                </div>
            </div>
        </section>

        <section *ngIf="images">
            <app-gallery [items]="images"></app-gallery>
        </section>

    </div>
</div>

<!-- <div class="project">
    <app-nav [color]="'#f14948'"></app-nav>
    <div class="content">

        <section class="projekt">
            <div class="projekt__preview">
                <div class="projekt__preview__image" #preview></div>
                <div class="projekt__preview__info">
                    <div>
                        <h2> {{ project?.category }} </h2>
                        <h1> {{ project?.name }} </h1>
                        <h3> {{ project?.date.toDate() | date: 'M/d/yyyy' }} </h3>
                        <p> {{ project?.desc }} </p>
                    </div>
                    <div class="projekt__preview__info__tags">
                        <span *ngFor="let tag of tags"> {{ tag }} </span>
                    </div>
                </div>
            </div>
            <div class="projekt__images">
                <div class="projekt__images__image" *ngFor="let image of images; let i = index" [ngStyle]="{ 'background': 'url(' + image.url + ')' }" (click)="changePreview(i)"></div>
            </div>
        </section>

    </div>
</div> -->