.menu {
    padding: 10px 0;

    ul {
        list-style: none;

        li {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;

            &:nth-child(1) {
                margin-bottom: 50px;
            }
        }
    }
}

.icon {
    width: 40px;
    height: 40px;
    // margin: -10px 0 0 0;
    // border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;

    fa-icon {
        font-size: 20px;
        color: #222222;
    }

    svg {
        width: 20px;
        fill: #222222;
    }

    &.logo {
        cursor: auto;
    }

    &.home {

        &:hover, &.active {
            background: linear-gradient(45deg, #eb3349 0%,#f45c43 100% );

            fa-icon {
                color: white;
            }

            svg {
                fill: white;
            }
        }
    }
    &.projects {

        &:hover, &.active {
            background: linear-gradient(45deg, #ec008c 0%,#fc6767 100% );

            fa-icon {
                color: white;
            }
        }
    }
    &.contact {

        &:hover, &.active {
            background: linear-gradient(45deg, #3A7BD5 0%, #00D2FF 100% );

            fa-icon {
                color: white;
            }
        }
    }
    &.dashboard {

        &:hover, &.active {
            background: linear-gradient(45deg, #057295 0%, #00D7B0 100%);

            fa-icon {
                color: white;
            }
        }
    }
    &.login {

        &:hover, &.active {
            background: linear-gradient(45deg, #057295 0%, #00D7B0 100%);

            fa-icon {
                color: white;
            }
        }
    }

    &.logout {
        
        fa-icon {
            color: tomato;
        }
    }
}


@media (max-width: 1000px) {

    .menu {
        padding: 10px 20px;
        width: 100%;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                margin: 0;

                &.web {
                    display: none;
                }

                &:nth-child(1) {
                    margin-bottom: 0;
                }
            }
        }
    }

}