<div class="menu">
    <ul>
        <li>
            <div class="icon logo" [routerLink]="['/']"></div>
        </li>
        <li>
            <div class="icon logo" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></div>
        </li>
        <li>
            <div class="icon logo" [routerLink]="['/projects']" routerLinkActive="active"></div>
        </li>
        <li>
            <div class="icon logo" [routerLink]="['/contact']" routerLinkActive="active"></div>
        </li>
    </ul>
</div>