<div class="slider">
    <div class="slider__nav-left" [ngClass]="{'active' : this.item.position < 0}" (click)="move('left')"><fa-icon [icon]="faLeft"></fa-icon></div>
    <div class="slider__nav-right" [ngClass]="{'active' : this.itemsOut < this.items?.length - this.itemsPerScreen}" (click)="move('right')"><fa-icon [icon]="faRight"></fa-icon></div>
    <div #slider class="slider__cards" (touchstart)="touchstart($event)" (touchmove)="touchmove($event)" (touchend)="touchend()">
        <div class="slider__card" 
            *ngFor="let item of items"
            [ngStyle]="{ 'background': 'url(' + item?.url + ') no-repeat center center'}"
        ></div>
        <div class="slider__margin-right"></div>
    </div>
</div>